body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h1 {
    text-align: center;
    color: darkblue;
}

section {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
}

input,
select,
button {
    margin: 5px;
    padding: 8px;
}

.negro {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

.rojo {
    background-color: red;
    color: yellow;
    padding: 10px;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: center;
}