body {
  font-family: Arial, sans-serif;
  background-color: #fff7ed;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Título principal */
h1 {
  color: #e67e22;
  padding: 10px 0;
  margin: 20px 0;
}

p {
  color: #4b3832;
  font-size: 18px;
}

img {
  margin-top: 10px;
}